@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

body{
    background-color: #D5C8C1  ;
  font-family: 'Montserrat', sans-serif;

}


.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
}     
.navegacion{
    font-family: 'Monserrat';
    font-size: 1em;
    
}
.navegacion ul{
    list-style: none;
    display: flex;
    align-items: center;

}
.navegacion ul li a{
    text-decoration: none;
    color:white
}
.navegacion li{
    margin-right: 1.5rem;

}
.header{
    background-color:darkslategray ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
 .navegacion a:hover{ 
    color:lightslategray;

 }
 .navegacion li:last-child{
    background-color:black; 
     padding: .25rem .75rem;
     border-radius: .2rem ;

 }
 .navegacion li:last-child:hover{
      background: 
      transparent;
     
 }


.icono_menu, #check{
    display:none; 
}
       
.contenedor_2{
box-shadow: 0 0 25px #282b40;      
border-color: 1px solid black;
background-color:#ECECEC ;
padding: 20px;
display:flex;
justify-content: center;
text-align: center;
}
.img_principal{
background-color:aqua;
border: 7px solid darkslategra;
max-width: 100%;
z-index: 1;
padding: 10px;
background-color: darkslategray ;
width: 200px ;
height: 300px;
margin: 20px;
}

.informacion{
width: 500px;
height: 300px;
margin: 20px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding: 50px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; 
    font-family: 'Monserrat';

}

p {
    font-family:'Monserrat';
    font-weight: bold;
    font-size: 1em; 

}

.carreira{

box-shadow: 0 0 25px #282b40;   
border-color: 1px solid black;
background-color:#ECECEC ;
padding: 20px;
display:flex;
justify-content: center;
text-align: center;
background-color:darkslategray ;
gap: 20px;
    
}

.carreira h2{
    
    color:white;
    font-family:'Monserrat';
    font-weight: bold;
    font-size: 2em; 
    padding-right: 25px ;
    margin-top: 0 ;
    margin-bottom: 0;

    
}

.graduacion{
    color: white;
    font-family:'Montserrat';
    width: 1000px;

}
h4{
    font-family: 'Momserrat' ;
    font-weight:bold;
    font-size: 1em;
    

}
.img_titulo{
background-color: chocolate;
width: 130px;
height: 150px;

}

.titulo_projeto{
    font-family: 'Monserrat';
    font-weight: bolder;
   color: black;
    padding: 20px;
    background-color:#ECECEC ;
    font-size: 2em;
    margin:0;
 

    
}
.trabalho{
    box-shadow: 0 0 25px #282b40; 
    background-color:#ECECEC ;
    padding: 20px;
    display:flex;
    flex-direction:row;
    align-items:center; 
    justify-content: center;
    border-top: 25px;
    height: 500px;
   
      
}  

#card_receta{
    width: 200px;
    height: 300px;
    background-color:darkslategray;
    margin: 1em;
}
#card-1{
    width: 200px;
    height: 300px;
    background-color:darkslategray;
    margin: 1em;
       
}
#card_3{
    width: 200px;
    height: 300px;
    background-color:darkslategray;;
    margin: 1em;

}

.card:hover{
    transform: translateY(-30px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.template{
    width: 200px;
    height: 150;
}
h6{
    font-family:'Monserrat';
    font-weight: bolder;
    font-size: 1em; 
    color: white;
    margin-left: 20px; 
    text-align: center; 
}
.buttom {
background-color:black;
border-radius: 10px;
color:white;
margin: 35%;
padding: 10px;
font-weight: bolder;

}
.bottom :hover{
    background-color:dimgray;
}
.contato{
    color:black;
    box-shadow: 0 0 25px #282b40;   
    border-color: 1px solid black;
    background-color:#ECECEC ;
    padding: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align: center;
    font-family: 'Monserrat';
    height: 550px;
   
}
h2{
    font-size: 2em; 
}
.escreveme{
    font-weight: bold;
    font-size: 1.5em;
    /*background-color:darkslategray ;*/
    color:black;
    /*border: 2px solid black;*/
    border-radius: 25px;
   /* height: 100px;*/
    position: relative;
    top: 100px;
    height: 300px;
    width: 400px;
    padding-right: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
    height: 500px;
    background-color: darkslategrey;

   
    
}
.form-group textarea {
    height: 200px;
    padding: 1.5em;
    background: none;
    border: 1px solid black;
    color: black;
    background-color: white;
  }
  
  .form-group .input {
    padding: 10px 10px;
    margin-bottom: 1em;
    /*background: none;
    border: none;*/
    border-bottom: 1px solid black;
    color: black;
  }
  
  .form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color:black ;
    color: white;
    border: 2px solid black;
    font-family: 'Monserrat';

   
  }
  
.final{
    color:white;
    position:relative;
    right: 400px;
    font-family:'Monserrat';
    font-size: 2.5em;
}
#social {
        color:darkslategrey;
        font-size: 3.5em;
        padding-top: 30px;       
    }
   
.footer{
    background-color: darkslategray;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px #282b40;
     
    
}

.parte_footer{
    font-weight: bolder;
    font-family:'Monserrat';
    font-size: 1.5em; 
    color:white;
    padding-bottom: 10px;
   
}


@media screen and (max-width: 800px) {
    .trabalho {
        display:flex;
        flex-direction: column;
        height: 100%;
}

}
@media screen and (max-width: 425px) {
    .contenedor_2{
    
    
    }
    
}
@media screen and (max-width:425px){
.informacion{
    padding: 0;
}
    
}

    
     @media screen and (max-width: 768px){

.img_principal{
    display:none;
   
}
     }

@media screen and(max-width: 425px){
    
.h1{
    font-size: 1em;
    margin: 0;
   
}
}
@media screen  and (max-width: 768px){
    .checkbtn{
        display: block;

    }
    .icono_menu{
        display: block;
        position:fixed;
        top:20px;
        right: 20px;
        background-color: white;
    }
    .navegacion ul{
        display:block;
        position:fixed;
        top: 70px;
        left: -100% ;
        background:darkslategray;
        width: 100% ;
        height: 100vh;
        right: 0;

    }
    .navegacion ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin:0;


    }
    .navegacion ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
     
}


    
